<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <header>
        <h1>Company About Page</h1>
    </header>
        <p>
        The company address is {{ contact_address }} and the phone number is
        {{ phone_number }}.
        </p>
        {% endblock %}
    <main>
        <section>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>