<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <div class="profile-card text-center">

            <div class="icon">
                👋
            </div>

            <h1>Hello World</h1>

            <p class="subtitle">
                Nama Saya
            </p>

            <h2 class="name">
                Wahyu
            </h2>

            <button class="btn btn-custom">
                Selamat Datang
            </button>

        </div>

    </div>

</body>
</html>